:root {
   --darkblue: #252d49;
   --lightgreen: #e5faad; 
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--darkblue);
    color: var(--lightgreen);
}

main {
    display: flex;
    flex-direction: row;
}

#search-area {
    width: 25%;
    background-color: var(--lightgreen);
    color: var(--darkblue);
}

#results-area {
    width: 75%;
    display: flex;
    flex-direction: column;
}

#current-weather-area {
    background-color: var(--lightgreen);
}

#forecast-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--lightgreen);
}

.forecast-card {
    background-color: var(--darkblue);
    padding: 2%;
    border: solid var(--lightgreen) 5px;
    color: white;
}

.section-header {
    width: 100%;
}